<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="keepass2android.keepass2android" />
        <package android:name="keepass2android.keepass2android_nonet" />

        <intent>
            <action android:name="keepass2android.ACTION_QUERY_CREDENTIALS" />
        </intent>

        <intent>
            <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS" />
        </intent>

        <intent>
            <action android:name="keepass2android.ACTION_REQUEST_ACCESS" />
        </intent>
    </queries>

    <application
        android:name=".Kp2aComposeKeyboardApp"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_keyboard_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_keyboard_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kp2aComposeKeyboard">

        <activity
            android:name=".feature.settings.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.entrypicker.EntryPickerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:label="@string/entry_picker_title"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.plugin.Kp2aPluginActivity"
            android:exported="true">
        </activity>

        <service
            android:name=".ime.KeyboardImeService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <receiver
            android:name=".kp2a.Kp2aPluginAccessReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS" />
                <action android:name="keepass2android.ACTION_RECEIVE_ACCESS" />
                <action android:name="keepass2android.ACTION_REVOKE_ACCESS" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
